.timer {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin:30 auto;
}

.value {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(47, 48, 58, 0.8);
}